/* Styling for Content */


/* Text Sections */
main div.ts {
  background-color: white;
  border-left: 5px solid gray;
  margin: 5px 0px;
  padding: 0.5em 0.5em 0.5em 1em; 
}

main div.ts p {
  margin: 0px;
}

main div.ts h1 {
  border-left: 0px;
  color: gray;
  padding: 0;
  margin: 0 0 10px 0;
}

main div.ts.note {
  background-color: #F0F7D4;
  border-color: #BBE524;
}

main div.ts.warn {
  background-color: #fff9e6;
  border-color: #ffc30f;
}

main div.ts.warn h1 {
  color: #e6ac00;
}

main div.ts.err {
  background-color: #ffe8e6;
  border-color: #FF230F;
}

main div.ts.err h1 {
  color: #FF230F;
}
/* END Text Sections */

/* NOTE: CODE DISPLAYS REMOVED IN THIS TEMPLATE */

/* Block for Date / Time / Location Descriptors in a document */

.time {
  color: black;
  display: block;
  font-family: semibold;
  font-size: 1.5em;
  background-image: url("/img/clock.svg");
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: center left;
  padding: 0 0 0 1.5em;
}


.date {
  color: black;
  display: block;
  font-family: semibold;
  font-size: 1.5em;
  background-image: url("/img/calendar.svg");
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: center left;
  padding: 0 0 0 1.5em;
}

.location {
  color: black;
  display: block;
  font-family: semibold;
  font-size: 1.5em;
  background-image: url("/img/map.svg");
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: center left;
  padding: 0 0 0 1.5em;
}

.downloads {
  color: black;
  display: block;
  font-family: semibold;
  font-size: 1.5em;
  background-image: url("/img/download.svg");
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: center left;
  padding: 0 0 0 1.5em;
  border-bottom: 1px solid #333;
}

/* END Time/Date/Location/Downloads Block */

/* START Grid Block */

/* TODO Change number of columns based on screen width */
.gridContainer {
	display: grid;
	width: 100%;
	grid-gap: 1em;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 1em;
	margin-bottom: 1em;
}

.gridContainer .title {
  grid-column-start: 1;
  grid-column-end: 5;
}

/* ROWxCOL */
.g_1x1 {
	background-color: white;
	color: #333;
	grid-row: span 1;
	grid-column: span 1;
}

.g_2x1 {
	background-color: white;
	color: #333;
	grid-row: span 2;
	grid-column: span 1;
}

.g_1x2 {
	background-color: white;
	color: #333;
	grid-row: span 1;
	grid-column: span 2;
}

.g_2x2 {
	background-color: white;
	color: #333;
	grid-row: span 2;
	grid-column: span 2;
}

/* END Grid Block */
